BEGIN;

-- Running upgrade a9c4e7f1b2d3 -> b2e7c4f9a1d6

CREATE TABLE user_mfa (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    enabled BOOLEAN NOT NULL, 
    totp_secret_encrypted TEXT, 
    pending_secret_encrypted TEXT, 
    encryption_key_version INTEGER NOT NULL, 
    totp_algorithm VARCHAR(16) NOT NULL, 
    totp_digits INTEGER NOT NULL, 
    totp_period_seconds INTEGER NOT NULL, 
    last_accepted_totp_step BIGINT, 
    failed_attempts INTEGER NOT NULL, 
    locked_until TIMESTAMP WITHOUT TIME ZONE, 
    last_failed_at TIMESTAMP WITHOUT TIME ZONE, 
    last_verified_at TIMESTAMP WITHOUT TIME ZONE, 
    enrollment_started_at TIMESTAMP WITHOUT TIME ZONE, 
    enabled_at TIMESTAMP WITHOUT TIME ZONE, 
    disabled_at TIMESTAMP WITHOUT TIME ZONE, 
    recovery_codes_generated_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_user_mfa_user_id_users FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_user_mfa_user_id ON user_mfa (user_id);

CREATE INDEX ix_user_mfa_enabled ON user_mfa (enabled);

CREATE INDEX ix_user_mfa_locked_until ON user_mfa (locked_until);

CREATE INDEX idx_user_mfa_lock ON user_mfa (user_id, locked_until);

CREATE TABLE mfa_recovery_codes (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    code_hash VARCHAR(64) NOT NULL, 
    used_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_mfa_recovery_codes_user_id_users FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_mfa_recovery_user_hash UNIQUE (user_id, code_hash)
);

CREATE INDEX ix_mfa_recovery_codes_user_id ON mfa_recovery_codes (user_id);

CREATE INDEX ix_mfa_recovery_codes_used_at ON mfa_recovery_codes (used_at);

CREATE INDEX idx_mfa_recovery_available ON mfa_recovery_codes (user_id, used_at);

CREATE TABLE password_reset_tokens (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    token_hash VARCHAR(64) NOT NULL, 
    expires_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    consumed_at TIMESTAMP WITHOUT TIME ZONE, 
    revoked BOOLEAN NOT NULL, 
    request_fingerprint VARCHAR(64), 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_password_reset_tokens_user_id_users FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_password_reset_tokens_token_hash ON password_reset_tokens (token_hash);

CREATE INDEX ix_password_reset_tokens_user_id ON password_reset_tokens (user_id);

CREATE INDEX ix_password_reset_tokens_expires_at ON password_reset_tokens (expires_at);

CREATE INDEX ix_password_reset_tokens_consumed_at ON password_reset_tokens (consumed_at);

CREATE INDEX ix_password_reset_tokens_revoked ON password_reset_tokens (revoked);

CREATE INDEX idx_password_reset_user_active ON password_reset_tokens (user_id, revoked, consumed_at, expires_at);

CREATE TABLE password_history (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    reason VARCHAR(32) NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_password_history_user_id_users FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_password_history_user_id ON password_history (user_id);

CREATE INDEX ix_password_history_created_at ON password_history (created_at);

CREATE INDEX idx_password_history_user_time ON password_history (user_id, created_at);

UPDATE alembic_version SET version_num='b2e7c4f9a1d6' WHERE alembic_version.version_num = 'a9c4e7f1b2d3';

COMMIT;

